*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #141519;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
}

.menu_principal{

    background: #1F2630;
    text-align: center;
    width: 400px;
    height: 100%;
    border-radius: 25px;
    padding: 10px;
}


.selected{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.imgThanks{
    padding: 5px 20px;

}
.selectedRate{
    margin: 5px;
    padding: 10px;
    border-radius: 25px;
    color: #fa771396;
    background-color: #272F37;


}
.greeting{
font-family: Arial, Helvetica, sans-serif;
}

.greeting h1{
    color: azure;
}

.greeting p{
    color: #7B838E;
    line-height: 1.5;
}